<h1 class="header"> <%= @project.name %> </h2>
<h2 class="header">
  <%= @ticket.name %>
  <div class="links">
    <% if policy(@ticket).update? %>
      <%= link_to "Edit Ticket", [:edit, @project, @ticket], class: "edit" %>
    <% end %>
    <% if policy(@ticket).destroy? %>
      <%= link_to "Delete Ticket", [@project, @ticket], method: :delete, class: "delete" %>
    <% end %>
   </div>
 </h2>
 <table>
   <tr>
     <th>Author:</th>
     <td>
       <%= @ticket.author.email if @ticket.author %>
     </td>
   </tr>
   <tr>
     <th>
       Created at:
     </th>
     <td>
       <%= time_ago_in_words(@ticket.created_at) %> ago
     </td>
   </tr>
<p>
  <%= simple_format @ticket.description %> <!-- simple_format method converts ruby line breaks `\n` to html ones `<br>` -->
</p>

<% if @ticket.attachments.any? %>
  <h4>Attachment</h4>
    <div class="attachment">
      <% @ticket.attachments.each do |attachment| %>
        <p>
          <%= link_to File.basename(attachment.file.url),
            attachment_path(attachment) %>
         (<%= number_to_human_size(attachment.file.size) %>)
        </p>
      <% end %>
    </div>
<% end %>
