<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for? :title %>
      <%= yield :title %>
    <% else %>
      Ticketee
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Ticketee</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse" id="menu">
        <ul class="nav navbar-nav">
          <li class="<%="active" if current_page?("/") %>"><%= link_to "Home", root_path%></li>
          <% unless user_signed_in? %>
            <li class="<%="active" if current_page?("/users/sign_up")%>"><%= link_to "Sign Up", new_user_registration_path %></li>
            <li class="<%="active" if current_page?("/users/sign_in")%>"> <%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <div class="navbar-right">
            <p class="navbar-text">
              Signed in as <%= current_user.email %>
            </p>
            <ul class="nav navbar-nav">
              <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <% flash.each do |key, msg| %>
      <div class="alert alert-<%= key %> fade in">
        <%= msg %>
        <a href="#" data-dismiss="alert" class="close">&times;</a>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
